.App {
  text-align: center;
  border: 1px solid black;
}

tr,td, table{
  border: 1px solid black;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
th{
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0;
}

table{
margin: auto
}
.useUrl, .shortenUrl{
  background: ivory;
  border: 1px solid black;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
}

.input{
  width: 40%;
}